<p id="notice"><%= notice %></p>

<h1>Listing Riesitel Seria</h1>

<table>
  <thead>
    <tr>
      <th>Skola</th>
      <th>Trieda</th>
      <th>Kategoria</th>
      <th>Eriesitel</th>
      <th>Rocnik</th>
      <th>Seria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @riesitel_seria.each do |riesitel_serium| %>
      <tr>
        <td><%= riesitel_serium.skola %></td>
        <td><%= riesitel_serium.trieda %></td>
        <td><%= riesitel_serium.kategoria %></td>
        <td><%= riesitel_serium.eriesitel %></td>
        <td><%= riesitel_serium.rocnik %></td>
        <td><%= riesitel_serium.seria %></td>
        <td><%= link_to 'Show', riesitel_serium %></td>
        <td><%= link_to 'Edit', edit_riesitel_serium_path(riesitel_serium) %></td>
        <td><%= link_to 'Destroy', riesitel_serium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Riesitel serium', new_riesitel_serium_path %>
