<p id="notice"><%= notice %></p>

<p>
  <strong>Skola:</strong>
  <%= @riesitel_serium.skola %>
</p>

<p>
  <strong>Trieda:</strong>
  <%= @riesitel_serium.trieda %>
</p>

<p>
  <strong>Kategoria:</strong>
  <%= @riesitel_serium.kategoria %>
</p>

<p>
  <strong>Eriesitel:</strong>
  <%= @riesitel_serium.eriesitel %>
</p>

<p>
  <strong>Rocnik:</strong>
  <%= @riesitel_serium.rocnik %>
</p>

<p>
  <strong>Seria:</strong>
  <%= @riesitel_serium.seria %>
</p>

<%= link_to 'Edit', edit_riesitel_serium_path(@riesitel_serium) %> |
<%= link_to 'Back', riesitel_seria_path %>
