<p id="notice"><%= notice %></p>

<h1>Listing Knizkas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @knizkas.each do |knizka| %>
      <tr>
        <td><%= link_to 'Show', knizka %></td>
        <td><%= link_to 'Edit', edit_knizka_path(knizka) %></td>
        <td><%= link_to 'Destroy', knizka, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Knizka', new_knizka_path %>
