<h1>Aktuálne</h1>

<div class="ui three cards">
  <% if !@aktualna_knizka.blank? %>
      <div class="card">
        <div class="content">
          <div class="header">
            <%= link_to knizka_path(@aktualna_knizka) do %>
                Knižka
                <i class="blue unhide icon"></i>
            <% end %>
          </div>
          <div class="meta">
            <%= @aktualna_knizka.rocnik %>.
            ročník, <%= @aktualna_knizka.seria %> séria,
            <%= @aktualna_knizka.cislo %>. knižka
          </div>
          <div class="description m-t-1">
            <% if @aktualna_knizka.knizka_obsahs.count > 0 %>
                <div class="ui list">
                  <% @aktualna_knizka.knizka_obsahs.order(:cislo).each do |k| %>
                      <div class="item">
                        <% if k.nazov.start_with?('Zadania') %>
                            <%= link_to zadania_knizka_path(@aktualna_knizka, k.id), class: 'link-border' do %>
                                <%= k.nazov %>
                                <i class="blue unhide link icon"></i>
                            <% end %>
                        <% elsif k.nazov.start_with?('Vzoráky') %>
                            <%= link_to nil, data: { confirm: 'Not implemented.' }, class: 'link-border' do %>
                                <%= k.nazov %>
                                <i class="blue unhide link icon"></i>
                            <% end %>
                        <% elsif k.nazov.start_with?('Výsledkovka') %>
                            <%= link_to nil, data: { confirm: 'Not implemented.' }, class: 'link-border' do %>
                                <%= k.nazov %>
                                <i class="blue unhide link icon"></i>
                            <% end %>
                        <% elsif k.nazov.start_with?('Článok') %>
                            <%= link_to nil, data: { confirm: 'Not implemented.' }, class: 'link-border' do %>
                                <%= k.nazov %>
                                <i class="blue unhide link icon"></i>
                            <% end %>
                            <%= link_to nil, data: { confirm: 'Not implemented.' }, class: 'link-border' do %>
                                <%= k.nazov %>
                                <i class="yellow edit link icon"></i>
                            <% end %>
                        <% end %>
                      </div>
                  <% end %>
                </div>
            <% else %>
                Knižka zatiaľ nemá obsah.
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
  <div class="card">
    <div class="content">
      <div class="header">
        <%= link_to rocnik_path(@aktualny_rocnik) do %>
            Ročník, séria
            <i class="blue unhide link icon"></i>
        <% end %>
      </div>
      <div class="meta">
        <%= @aktualny_rocnik.cislo %>. ročník, Letná séria
      </div>
    </div>
    <div class="content">
      <div class="header">Knižky</div>
      <div class="ui list">
        <% @knizky_l.each do |k| %>
            <div class="item">
              <%= link_to k, class: 'link-border' do %>
                  <%= "#{k.cislo}. knižka" %>
                  <i class="blue unhide link icon"></i>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="content">
      <div class="header">Kolá</div>
      <div class="ui list">
        <% @kola_l.each do |kolo| %>
            <div class="item">
              <%= link_to kolo, class: 'link-border' do %>
                  <%= "#{kolo.cislo}. kolo" %>
                  <i class="blue unhide link icon"></i>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="content">
      <div class="header">Riešitelia</div>
      <%= link_to riesitels_path(seria_id: @seria_l.id), class: 'link-border' do %>
          Pridať riešiteľov
          <i class="green plus circle link icon"></i>
      <% end %>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">
        Opravovanie
      </div>
      <div class="meta">
        <%= @aktualny_rocnik.cislo %>.
        ročník, Letná séria,
        1. kolo
      </div>
      <div class="description m-t-1">
        <div class="ui fluid vertical inverted buttons">
          <%= link_to "Prihlás sa", opravas_path(rocnik: @aktualny_rocnik.cislo, seria: 'Letná', kolo: 1), class: 'ui green button' %>
          <% o = Oprava.where(rocnik: @aktualny_rocnik.cislo, seria: 'Letná', kolo: 1).take %>
          <% if o && !o.priklady.blank? && !eval(o.priklady).blank? %>
              <%= link_to "Zadaj body", nil, data: { confirm: 'Not implemented.' }, class: 'ui button' %>
              <%= link_to "Napíš vzorák", edit_oprava_path(o, rocnik: @aktualny_rocnik.cislo, seria: 'Letná', kolo: 1), class: 'ui green button' %>
          <% else %>
              <%= link_to "Zadaj body", nil, data: { confirm: 'Nie si prihlásený na žiadne opravovanie.' }, class: 'ui button' %>
              <%= link_to "Napíš vzorák", nil, data: { confirm: 'Nie si prihlásený na žiadne opravovanie.' }, class: 'ui button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>Štatistiky</h1>

<div class="ui three cards">
  <div class="card">
    <div class="content">
      <div class="header">
        Knižka
      </div>
      <div class="meta">
        Počet vykonaných zmien
      </div>
      <div class="description">
        <div class="ui celled ordered list">
          <div class="item">
            <span class="ui teal circular right floated label">25</span>
            Jakub
          </div>
          <div class="item">
            <span class="ui teal circular right floated label">12</span>
            Barbora
          </div>
          <div class="item">
            <span class="ui teal circular right floated label">7</span>
            Marianna
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">
        Príklady
      </div>
      <div class="meta">
        Počet pridaných príkladov
      </div>
      <div class="description">
        <div class="ui celled ordered list">
          <div class="item">
            <span class="ui teal circular right floated label">52</span>
            Jakub
          </div>
          <div class="item">
            <span class="ui teal circular right floated label">28</span>
            Barbora
          </div>
          <div class="item">
            <span class="ui teal circular right floated label">21</span>
            Marianna
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">
        Opravovanie
      </div>
      <div class="meta">
        Počet opravených príkladov
      </div>
      <div class="description">
        <div class="ui celled ordered list">
          <div class="item">
            <span class="ui teal circular right floated label">8</span>
            Jakub
          </div>
          <div class="item">
            <span class="ui teal circular right floated label">5</span>
            Barbora
          </div>
          <div class="item">
            <span class="ui teal circular right floated label">3</span>
            Marianna
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>Aktivity</h1>

<table class="ui teal selectable celled striped table">
  <thead>
  <tr>
    <th>Aktivita</th>
    <th>Čas</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Barbora zmenila
      príklad <%= link_to Priklad.first.try(:nazov), Priklad.first %></td>
    <td>26.10.2016 21:15</td>
  </tr>
  <% if !@aktualna_knizka.blank? %>
      <tr>
        <td>Jakub
          zmenil <%= link_to "knižku #{@aktualna_knizka.cislo}", @aktualna_knizka %></td>
        <td>26.10.2016 17:45</td>
      </tr>
  <% end %>
  <tr>
    <td>Marianna pridala
      body <%= link_to "opravovania", nil, data: { confirm: 'Not implemented.' } %></td>
    <td>25.10.2016 13:15</td>
  </tr>
  </tbody>
</table>