<h1>Homepage</h1>

Hello World!

Links:
<ul>
  <li><%= link_to 'Login page', login_homepages_path %></li>
  <li><%= link_to 'Ročníky', rocniks_path %></li>
  <li><%= link_to 'Kolá', kolos_path %></li>
  <li><%= link_to 'Komentáre', komentars_path %></li>
  <li><%= link_to 'Príklady', priklads_path %></li>
  <li><%= link_to 'Série', seria_path %></li>
</ul>