<div class="ui fluid segment">
  <div class="ui breadcrumb">
    <%= link_to "Home", homepages_path, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <%= link_to "#{@kolo.rocnik}. ročník", rocnik_path(Rocnik.find_by_cislo(@kolo.rocnik)), class: 'section' %>
    <i class="right chevron icon divider"></i>
    <div class="section"><%= @kolo.seria %> séria</div>
    <i class="right chevron icon divider"></i>
    <div class="active section"><%= @kolo.cislo %>. kolo</div>
  </div>
</div>

<% if notice == 'ok' %>
    <div class="ui green icon message">
      <i class="check mark icon"></i>
      <div class="content">
        <div class="header">
          Príklady boli úspešne pridané do zadaní.
        </div>
        <p>Teraz môžeš upraviť ich poradie.</p>
      </div>
    </div>
<% elsif notice == 'too_many_priklads' %>
    <div class="ui red icon message">
      <i class="meh icon"></i>
      <div class="content">
        <div class="header">
          Nastala chyba pri pridávaní príkladov do zadaní.
        </div>
        <p>V zadaniach by po pridaní bolo viac ako 10 príkladov.</p>
      </div>
    </div>
<% elsif notice == 'deleted' %>
    <div class="ui green icon message">
      <i class="check mark icon"></i>
      <div class="content">
        <div class="header">
          Príklad bol úspešne odobraný.
        </div>
        <p>Teraz môžeš pridať ďalší príklad do zadaní.</p>
      </div>
    </div>
<% elsif notice == 'no_priklads' %>
    <div class="ui red icon message">
      <i class="meh icon"></i>
      <div class="content">
        <div class="header">
          Nastala chyba pri pridávaní príkladov do zadaní.
        </div>
        <p>Nevybral si žiadny príklad.</p>
      </div>
    </div>
<% end %>

<h1><%= @kolo.cislo %>. kolo</h1>
<h2>Príklady v kole</h2>

<div class="ui two column grid">
  <div class="column">
    <h3>Vybrané príklady</h3>
    <table class="ui teal selectable celled striped very compact small table">
      <thead>
      <tr>
        <th class="one wide"></th>
        <th class="one wide">č.</th>
        <th class="eight wide">Názov</th>
        <th class="six wide" colspan="3">Akcie</th>
      </tr>
      </thead>

      <tbody>
      <% (1..10).each do |c| %>
          <% p = @kolo.priklads.where(cislo_v_kole: c).take %>
          <% if p %>
              <tr>
                <td>
                  <% if c != 1 %>
                      <i class="caret up link icon move_up" id="up<%= c %>"></i>
                  <% end %>
                  <% if c != 10 %>
                      <i class="caret down link icon move_down" id="down<%= c %>"></i>
                  <% end %>
                </td>
                <td><%= c %></td>
                <td id="prikladN<%= c %>"><%= p.nazov %></td>
                <td id="prikladA<%= c %>">
                  <%= link_to p do %>
                      <i class="blue unhide link icon"></i>
                  <% end %>
                </td>
                <td id="prikladA<%= c %>">
                  <%= link_to edit_priklad_path(p) do %>
                      <i class="yellow edit link icon"></i>
                  <% end %>
                </td>
                <td id="prikladA<%= c %>">
                  <%= link_to remove_priklad_kolo_path(@kolo, c), method: :delete, data: { confirm: 'Naozaj chceš odobrať tento príklad zo zadaní?' } do %>
                      <i class="red remove link icon"></i>
                  <% end %>
                </td>
              </tr>
          <% else %>
              <tr>
                <td></td>
                <td><%= c %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>

  </div>
  <div class="column">
    <h3>Výber z príkladov</h3>
    <%= form_tag url_for(:controller => 'kolos', :action => 'add_priklads'), class: 'ui form' do %>
        <div id="filter-priklad"></div>
        <table id="vyber-priklad" class="ui teal selectable celled striped very compact small table dataTable">
          <thead>
          <tr>
            <th class="one wide"></th>
            <th class="four wide">Názov</th>
            <th class="three wide">Autor</th>
            <th class="two wide">Kategória</th>
            <th class="two wide">Stav</th>
            <th class="four wide">Akcie</th>
          </tr>
          </thead>

          <tbody>
          <% @priklads.each do |priklad| %>
              <tr>
                <td><%= check_box_tag "priklads[]", priklad.id %></td>
                <td><%= priklad.nazov %></td>
                <td><%= priklad.autor %></td>
                <td><%= priklad.kategoria %></td>
                <td><%= priklad.stav %></td>
                <td>
                  <%= link_to priklad do %>
                      <i class="blue unhide link icon"></i>
                  <% end %>
                  <%= link_to edit_priklad_path(priklad) do %>
                      <i class="yellow edit link icon"></i>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <%= submit_tag "Vyber príklady", class: 'ui green button' %>
    <% end %>
  </div>
</div>

<h2>Texty v zadaniach</h2>
<div class="ui">
  <% if @knizka && @zadania %>
      <%= link_to "Zobraziť zadania", zadania_knizka_path(@knizka, @zadania.id), class: 'ui green button' %>
  <% else %>
      <div class="ui yellow icon message">
        <i class="info icon"></i>
        <div class="content">
          <div class="header">
            Zadania tohoto kola nie sú v knižke.
          </div>
          <p>Aby bolo možné zobraziť texty, musíš najprv priradiť zadania do
             <%= link_to "knižky", rocnik_path(Rocnik.find_by_cislo(@kolo.rocnik)), style: 'color: #B58105; text-decoration: underline;' %>.</p>
        </div>
      </div>
  <% end %>
</div>
