<div class="ui fluid segment">
  <div class="ui breadcrumb">
    <%= link_to "Home", homepages_path, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <%= link_to "Príklady", priklads_path, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <%= link_to "Príklad #{@priklad.nazov}", @priklad, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <div class="active section">Upraviť</div>
  </div>
</div>

<div class="ui grid">
  <div class="thirteen wide column"><h1>Upraviť príklad <%= @priklad.nazov %></h1></div>
  <div class="one wide column">
    <h1>
      <%= link_to priklads_path do %>
          <i class="ui large right aligned arrow circle outline left link icon"></i>
      <% end %>
    </h1>
  </div>
  <div class="one wide column">
    <h1>
      <%= link_to @priklad, method: :delete, data: { confirm: 'Naozaj chceš vymazať tento príklad?' } do %>
          <i class="ui large right aligned red remove link icon"></i>
      <% end %>
    </h1>
  </div>
</div>

<%= render 'form' %>
