<div class="ui fluid segment">
  <div class="ui breadcrumb">
    <%= link_to "Home", homepages_path, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <div class="active section">Príklady</div>
  </div>
</div>

<% if notice == 'priklad_delete' %>
    <div class="ui green icon message">
      <i class="check mark icon"></i>
      <div class="content">
        <div class="header">
          Príklad bol úspešne odobraný.
        </div>
        <p>Teraz môžeš pridať ďalšie príklady.</p>
      </div>
    </div>
<% end %>

<div class="ui grid">
  <div class="fourteen wide column"><h1>Príklady</h1></div>
  <div class="column">
    <h1>
      <%= link_to new_priklad_path do %>
          <i class="ui large right aligned green plus circle link icon"></i>
      <% end %>
    </h1>
  </div>
</div>

<table class="ui teal selectable celled striped table datatable">
  <thead>
  <tr>
    <th>Názov</th>
    <th>Autor</th>
    <th>Kategória</th>
    <th>Stav</th>
    <th>Komentáre</th>
    <th>Upravené</th>
    <th>Akcie</th>
  </tr>
  </thead>
  <tbody>
  <% @priklads.each do |priklad| %>
      <tr>
        <td><%= priklad.nazov %></td>
        <td><%= priklad.autor %></td>
        <td><%= priklad.kategoria %></td>
        <td><%= priklad.stav %></td>
        <td><%= priklad.komentars.count %></td>
        <td><%= datetime_format priklad.updated_at %></td>
        <td>
          <div class="ui basic buttons">
            <%= link_to priklad, class: 'ui button' do %>
                <i class="blue unhide link icon"></i>
            <% end %>
            <%= link_to edit_priklad_path(priklad), class: 'ui button' do %>
                <i class="yellow edit link icon"></i>
            <% end %>
            <%= link_to priklad, class: 'ui button', method: :delete, data: { confirm: 'Naozaj chceš vymazať príklad?' } do %>
                <i class="red remove link icon"></i>
            <% end %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

