<div class="ui fluid segment">
  <div class="ui breadcrumb">
    <%= link_to "Home", homepages_path, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <div class="active section"><%= @rocnik.cislo %>. ročník</div>
  </div>
</div>

<% if notice == 'knizka_added' %>
    <div class="ui green icon message">
      <i class="check mark icon"></i>
      <div class="content">
        <div class="header">
          Knižka bola úspešne pridaná.
        </div>
        <p>Teraz si ju môžeš prezerať a upravovať.</p>
      </div>
    </div>
<% elsif notice == 'rocnik_added' %>
    <div class="ui green icon message">
      <i class="check mark icon"></i>
      <div class="content">
        <div class="header">
          Ročník bol úspešne pridaný.
        </div>
        <p>Teraz si ho môžeš prezerať a upravovať jeho obsah.</p>
      </div>
    </div>
<% end %>

<div class="ui grid">
  <div class="eight wide column">
    <h1><%= @rocnik.cislo %>. ročník, <%= @rocnik.cislo + 1997 %>
      /<%= @rocnik.cislo + 1998 %></h1>
  </div>
  <div class="eight wide right aligned column">
    <select onChange="if(this.selectedIndex!=0) self.location=this.options[this.selectedIndex].value" class="field">
      <option value="/rocniks/<%= @rocnik.id %>">Zmeniť ročník</option>
      <% Rocnik.order('cislo DESC').each do |r| %>
          <option value="/rocniks/<%= r.id %>"><%= r.name %></option>
      <% end %>
    </select>
    <%= link_to new_rocnik_path, data: { confirm: 'Naozaj chceš pridať ročník?' } do %>
        <i class="ui big right aligned green plus circle link icon"></i>
    <% end %>
  </div>
</div>

<div class="ui two column grid">
  <div class="column">
    <h2>Zimná séria</h2>
    <h3>Knižky<%= link_to new_serium_knizka_path(@seria_z), data: { confirm: 'Naozaj chceš pridať knižku do zimnej série?' } do %>
          <i class="ui right aligned green plus circle link icon"></i>
      <% end %>
    </h3>
    <div class="ui list">
      <% @knizky_z.each do |k| %>
          <div class="item"><%= link_to "#{k.cislo}. knižka", k %></div>
      <% end %>
    </div>

    <h3>Kolá</h3>
    <div class="ui list">
      <% @kola_z.each do |kolo| %>
          <div class="item"><%= link_to "#{kolo.cislo}. kolo", kolo %></div>
      <% end %>
    </div>

    <h3>Riešitelia</h3>
    <%= link_to "Pridať riešiteľov", nil, data: { confirm: 'Not implemented.' }, class: 'ui green button' %>
  </div>
  <div class="column">
    <h2>Letná séria</h2>
    <h3>Knižky<%= link_to new_serium_knizka_path(@seria_l), data: { confirm: 'Naozaj chceš pridať knižku do letnej série?' } do %>
          <i class="ui right aligned green plus circle link icon"></i>
      <% end %>
    </h3>
    <div class="ui list">
      <% @knizky_l.each do |k| %>
          <div class="item"><%= link_to "#{k.cislo}. knižka", k %></div>
      <% end %>
    </div>
    <h3>Kolá</h3>
    <div class="ui list">
      <% @kola_l.each do |kolo| %>
          <div class="item"><%= link_to "#{kolo.cislo}. kolo", kolo %></div>
      <% end %>
    </div>
    <h3>Riešitelia</h3>
    <%= link_to "Pridať riešiteľov", nil, data: { confirm: 'Not implemented.' }, class: 'ui green button' %>
  </div>
</div>