<%= form_for(@organizator, html: { id: 'organizator-form', class: 'ui form no-break' }) do |f| %>
  <% if @organizator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organizator.errors.count, "error") %> prohibited this organizator from being saved:</h2>

      <ul>
      <% @organizator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <fieldset>
      <legend>Osobné údaje</legend>
      <div class="field">
        <%= f.label :meno %><br>
        <%= f.text_field :meno %>
      </div>
      <div class="field">
        <%= f.label :priezvisko %><br>
        <%= f.text_field :priezvisko %>
      </div>
      <div class="field">
        <%= f.label :nick %><br>
        <%= f.text_field :nick %>
      </div>
      <div class="field">
        <%= f.label :status %><br>
        <%= f.text_field :status %>
      </div>
    </fieldset>
    <fieldset>
      <legend>Kontaktné údaje</legend>
      <div class="field">
        <%= f.label :email, class: 'label-required' %><br>
        <%= f.text_field :email, :type => 'email', :required => true %>
      </div>
      <div class="field">
        <%= f.label :telefon, 'Telefón'%><br>
        <%= f.text_field :telefon %>
      </div>
    </fieldset>

    <fieldset id="fieldset-password">
      <legend>Nastavenie hesla</legend>
      <div class="field">
        <label for="password" class="label-required">Heslo</label><br>
        <input name="password" id="password" type="password" required>
      </div>
      <div class="field">
        <label for="password-confirm" class="label-required">Potvrďte heslo</label><br>
        <input name="password-confirm" id="password-confirm" type="password" required>
      </div>
    </fieldset>


  <div class="actions">
    <%= f.submit "Uložiť", class: 'ui green button' %>
  </div>
<% end %>
