<div class="ui fluid segment">
  <div class="ui breadcrumb">
    <%= link_to "Home", homepages_path, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <%= link_to "Príklady", organizators_path, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <div class="active section">Upraviť</div>
  </div>
</div>

<div class="ui grid">
  <div class="thirteen wide column"><h1>Upraviť organizátora <%= @organizator.nick %></h1></div>
  <div class="column">
    <h1>
    <%= link_to organizators_path do %>
        <i class="ui large right aligned arrow circle outline left link icon"></i>
    <% end %>
    </h1>
  </div>
  <div class="column">
    <h1>
    <%= link_to @organizator, method: :delete, data: { confirm: "Naozaj chceš vymazať organizátora #{@organizator.nick}?" } do %>
        <i class="ui large right aligned red remove link icon"></i>
    <% end %>
    </h1>
  </div>
</div>
<%= render 'form' %>

