<p id="notice"><%= notice %></p>

<h1>Listing Organizators</h1>

<table>
  <thead>
    <tr>
      <th>Meno</th>
      <th>Priezvisko</th>
      <th>Nick</th>
      <th>Status</th>
      <th>Email</th>
      <th>Telefon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizators.each do |organizator| %>
      <tr>
        <td><%= organizator.meno %></td>
        <td><%= organizator.priezvisko %></td>
        <td><%= organizator.nick %></td>
        <td><%= organizator.status %></td>
        <td><%= organizator.email %></td>
        <td><%= organizator.telefon %></td>
        <td><%= link_to 'Show', organizator %></td>
        <td><%= link_to 'Edit', edit_organizator_path(organizator) %></td>
        <td><%= link_to 'Destroy', organizator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organizator', new_organizator_path %>
