<p id="notice"><%= notice %></p>

<h1>Listing Seria</h1>

<table>
  <thead>
    <tr>
      <th>Nazov</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seria.each do |serium| %>
      <tr>
        <td><%= serium.nazov %></td>
        <td><%= link_to 'Show', serium %></td>
        <td><%= link_to 'Edit', edit_serium_path(serium) %></td>
        <td><%= link_to 'Destroy', serium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Serium', new_serium_path %>
