<p id="notice"><%= notice %></p>

<h1>Listing Komentars</h1>

<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @komentars.each do |komentar| %>
      <tr>
        <td><%= komentar.autor %></td>
        <td><%= komentar.text %></td>
        <td><%= link_to 'Show', komentar %></td>
        <td><%= link_to 'Edit', edit_komentar_path(komentar) %></td>
        <td><%= link_to 'Destroy', komentar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Komentar', new_komentar_path %>
