<%= form_for(@riesitel) do |f| %>
  <% if @riesitel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@riesitel.errors.count, "error") %> prohibited this riesitel from being saved:</h2>

      <ul>
      <% @riesitel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meno %><br>
    <%= f.text_field :meno %>
  </div>
  <div class="field">
    <%= f.label :priezvisko %><br>
    <%= f.text_field :priezvisko %>
  </div>
  <div class="field">
    <%= f.label :adresa %><br>
    <%= f.text_field :adresa %>
  </div>
  <div class="field">
    <%= f.label "Dátum narodenia" %><br>
    <%= f.text_field :datum_narodenia %>
  </div>
  <div class="field">
    <%= f.label "Telefón" %><br>
    <%= f.text_field :telefon %>
  </div>
  <div class="field">
    <%= f.label "Telefón na rodiča" %><br>
    <%= f.text_field :telefon_rodic %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Uložiť" %>
  </div>
<% end %>
