<div class="ui fluid segment">
  <div class="ui breadcrumb">
    <%= link_to "Home", homepages_path, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <%= link_to "Riešitelia", riesitels_path, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <div class="active section">Upraviť riešiteľa</div>
  </div>
</div>

<h1>Upraviť riešiteľa <%= @riesitel.meno %> <%= @riesitel.priezvisko %></h1>

<%= render 'form' %>
