<div class="ui fluid segment">
  <div class="ui breadcrumb">
    <%= link_to "Home", homepages_path, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <div class="active section">Riešitelia</div>
  </div>
</div>

<% if notice == 'riesitel_delete' %>
    <div class="ui green icon message">
      <i class="check mark icon"></i>
      <div class="content">
        <div class="header">
          Riešiteľ bol úspešne odobraný.
        </div>
      </div>
    </div>
<% elsif notice == 'riesitel_not_selected' %>
    <div class="ui green icon message">
      <i class="check mark icon"></i>
      <div class="content">
        <div class="header">
          Nevybrali ste žiadneho riešiteľa.
        </div>
      </div>
    </div>
<% elsif notice == 'riesitel_add' %>
    <div class="ui green icon message">
      <i class="check mark icon"></i>
      <div class="content">
        <div class="header">
          Riešitelia boli úspešne pridaní.
        </div>
      </div>
    </div>
<% elsif notice == 'riesitel_update' %>
    <div class="ui green icon message">
      <i class="check mark icon"></i>
      <div class="content">
        <div class="header">
          Riešiteľ bol úspešne upravený.
        </div>
      </div>
    </div>
<% end %>

<div class="ui grid">
  <div class="fourteen wide column"><h1>Riešitelia</h1></div>
  <div class="column">
    <%= link_to new_riesitel_path do %>
        <i class="ui big right aligned green plus circle link icon"></i>
    <% end %>
  </div>
</div>

<%= form_tag url_for(:controller => 'riesitels', :action => 'add_riesitels_to_seria'), class: 'ui form' do %>
      <table class="ui teal selectable celled striped table datatable">
        <thead>
        <tr>
          <th></th>
          <th>Meno</th>
          <th>Priezvisko</th>
          <th>Adresa</th>
          <th>Dát. narodenia</th>
          <th>Tel. č.</th>
          <th>Tel. č. rodiča</th>
          <th>Email</th>
          <th>Akcia</th>
        </tr>
        </thead>
        <tbody>
        <% @riesitels.each do |riesitel| %>
            <tr>
              <td><%= check_box_tag "riesitels[]", riesitel[:id] %></td>
              <td><%= riesitel.meno %></td>
              <td><%= riesitel.priezvisko %></td>
              <td><%= riesitel.adresa %></td>
              <td><%= riesitel.datum_narodenia %></td>
              <td><%= riesitel.telefon %></td>
              <td><%= riesitel.telefon_rodic %></td>
              <td><%= riesitel.email %></td>
              <td>
                <%= link_to edit_riesitel_path(riesitel) do %>
                    <i class="edit link icon"></i>
                <% end %>
                <%= link_to riesitel, method: :delete, data: { confirm: 'Naozaj chceš vymazať riešiteľa?' } do %>
                    <i class="remove link icon"></i>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

    <div class="ui grid container">
      <div class="five wide column">Pridať do série:</div>
      <div class="five wide column"><select name="seria_id">
        <option value="">Vybrať sériu</option>
        <% Serium.order('rocnik DESC').each do |s| %>
            <option value="<%= s.id %>"><%= s.rocnik.to_s + '. ' + s.nazov %></option>
        <% end %>
      </select></div>
      <div class="right aligned five wide column"><%= submit_tag "Pridať", class: 'ui green button' %>
      </div>
    </div>
<% end %>