<div class="ui fluid segment">
  <div class="ui breadcrumb">
    <%= link_to "Home", homepages_path, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <%= link_to "Riešitelia", riesitels_path, class: 'section' %>
    <i class="right chevron icon divider"></i>
    <div class="active section">Pridávanie riešiteľov</div>
  </div>
</div>

<% if @notice != nil %>
    <div class="ui red icon message">
      <i class="warning sign icon"></i>
      <div class="content">
        <div class="header">
          <%= @notice %>
        </div>
      </div>
    </div>
<% end %>


<div class="ui grid">
  <div class="fourteen wide column"><h1>Pridávanie riešiteľov</h1></div>
</div>

<%= form_tag url_for(:controller => 'riesitels', :action => 'add_riesitels'), class: 'ui form' do |f| %>
    <table class="ui teal selectable celled table">
      <thead>
      <tr>
        <th>Meno</th>
        <th>Priezvisko</th>
        <th>Adresa</th>
        <th>Dát. narodenia</th>
        <th>Tel. č.</th>
        <th>Tel. č. rodiča</th>
        <th>Email</th>
      </tr>
      </thead>

      <tbody>
      <% if @riesiteliaToAdd != nil
           @riesiteliaToAdd.each do |newRiesitel| %>
              <tr>
                <td><%= text_field_tag "meno[]", newRiesitel.meno, :required => true %></td>
                <td><%= text_field_tag "priezvisko[]", newRiesitel.priezvisko, :required => true %></td>
                <td><%= text_field_tag "adresa[]", newRiesitel.adresa, :required => true %></td>
                <td><%= text_field_tag "dat_nar[]", newRiesitel.datum_narodenia, :required => true %></td>
                <td><%= text_field_tag "cislo[]", newRiesitel.telefon %></td>
                <td><%= text_field_tag "cislo_rodic[]", newRiesitel.telefon_rodic %></td>
                <td><%= text_field_tag "email[]", newRiesitel.email, :required => true %></td>
              </tr>
          <% end %>
      <% end %>
      <% if @notice == nil %>
          <tr>
            <td><%= text_field_tag "meno[]", nil , :required => true %></td>
            <td><%= text_field_tag "priezvisko[]", nil , :required => true %></td>
            <td><%= text_field_tag "adresa[]", nil , :required => true %></td>
            <td><%= text_field_tag "dat_nar[]", nil , :required => true %></td>
            <td><%= text_field_tag "cislo[]" %></td>
            <td><%= text_field_tag "cislo_rodic[]" %></td>
            <td><%= text_field_tag "email[]", nil , :required => true %></td>
          </tr>
      <% end %>
      </tbody>

    </table>
    <br>
    <div class="ui grid container">
      <div class="left aligned two wide column">
        <%= submit_tag "Uložiť", class: 'ui green button' %>
      </div>
      <div class="left aligned two wide column">
        <%= submit_tag "Pridať riadok", class: 'ui orange button' %>
      </div>
    </div>

<% end %>